<!--/*
Author: Hoang Long Le 
301236235
30 September 2022
*/-->
<div id="nav">
  <img src="./images/Logo.png" alt="" id="logo" />
  <nav>
    <a href="http://localhost:3000">Home Page</a>|
    <a href="http://localhost:3000/AboutMe">About me</a>|
    <a href="http://localhost:3000/Projects">Projects</a>|
    <a href="http://localhost:3000/Services">Services</a>|
    <a href="http://localhost:3000/Contact">Contact</a>
  </nav>
</div>
