<!--/*
Author: Hoang Long Le 
301236235
30 September 2022
*/-->
<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div id="template">
      <img src="./images/My Photo.jpg" alt="" id="myImg" />
      <h1 style="margin-left: 20px">Hoang Long Le</h1>
      <p id="myself">
        I am currently a student of Software Engineering - Artificial
        Intelligence at Centennial College. <br />My area of interest is web
        development, and my dream is to become a full-stack developer in the
        future. <br /><br />
        Scarborough, Toronto, Canada
        <br /><br />
        Centennial College <br />
        <a
          href="https://drive.google.com/file/d/14udbTjvKvuCFTF8Sz30glOOOL6Ndk3_q/view?usp=sharing"
          >My Resume</a
        >
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
