<!--/*

Author: Hoang Long Le 
301236235
30 September 2022
*/-->
<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div id="template" style="font-size: 18px">
      <%- include ('./partials/contactme.ejs') %>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
  <script>
    var btn = document.getElementById("contactbtn");
    btn.onclick = captureInfo;
    function captureInfo(e) {
      e.preventDefault();
      window.location = "http://localhost:3000/";
    }
  </script>
</html>
