<!--/*

Author: Hoang Long Le 
301236235
30 September 2022
*/-->
<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div id="template" style="font-size: 18px">
      <%- include ('./partials/contactme.ejs') %>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
