<!--/*

Author: Hoang Long Le 
301236235
30 September 2022
*/-->
<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div id="template">
      <h1>Welcome to my website!</h1>
      <h2>Hi, I'm Hoang Long le</h2>
      <h2>
        I am a Software Engineering student who is passionate in Web
        Development.
      </h2>
      <h3>
        <cite>To be a Full-stack Developer who creates great websites.</cite>
      </h3>
      <img src="./images/My Photo.jpg" alt="" id="myImg" />
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
