<!--/*

Author: Hoang Long Le 
301236235
30 September 2022
*/-->
<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container"><p id="welcome">WELCOME TO MY PORTFOLIO!</p></div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
