<!--/*

Author: Hoang Long Le 
301236235
30 September 2022
*/-->
<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div
      id="template"
      style="height: 2000px; text-align: center; font-size: 18px"
    >
      <h3>
        <a
          href="http://studentweb.cencol.ca/hle81/Assignment%205%20-%20Submit/Assignment5.html"
          ><u>Online Bug Smasher</u></a
        >
      </h3>
      <img src="./images/BugSmasher.png" alt="" id="bug" />
      <p>
        <b>
          An interctive online game that features multiple functionality such as
          <br />
          score tally, reset speed and score when difficulty level is high, with
          excellent user interface. <br />
          Created by Hoang Long Le.
        </b>
      </p>
      <h3>
        <a href="http://studentweb.cencol.ca/hle81/Todolist/Todo.html"
          ><u>To Do List</u></a
        >
      </h3>
      <img src="./images/Todo.png" alt="" id="todo" />
      <p>
        <b
          >An online To-do list application that allows users to track their
          duties. <br />Users can create tasks, make them in progress, or mark
          as completed. <br />Created by Hoang Long Le.</b
        >
      </p>
      <h3>
        <a href="http://studentweb.cencol.ca/hle81/Assignment4/Assignment4.html"
          ><u>Registration Form</u></a
        >
      </h3>
      <img src="./images/Registration.png" alt="" id="regis" />
      <p>
        <b
          >An application to validate user input with great user interface.
          <br />Created by Hoang Long Le</b
        >
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
