<!--/*
Author: Hoang Long Le 
301236235
30 September 2022
*/-->
<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div
      id="template"
      style="text-align: center; font-size: 18px; font-weight: bold"
    >
      <br />
      <h1>MY SERVICES</h1>
      <div>
        <img src="./images/CS.png" alt="" id="CS" />
        <img src="./images/python.png" alt="" id="python" />
        <img src="./images/web.png" alt="" id="web" />
        <img src="./images/database.png" alt="" id="data" />
        <img src="./images/java.png" alt="" id="java" />
      </div>
      <div>
        C# Programming &nbsp; Python Programming &nbsp; Web Development &nbsp;
        Database &nbsp;Java Programming
      </div>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
