body {
  font-family: garamond;
  background-color: whitesmoke;
}
nav {
  background-color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 500px;
}
#nav {
  background-color: white;
  width: 90%;
  margin: auto;
  height: 50px;
  border-radius: 50px;
}
#myImg {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 20px;
}

#template {
  height: 500px;
  width: 90%;
  margin: auto;
  border-radius: 25px;
  margin-top: 20px;
  background-color: azure;
}

#myself {
  margin-left: 20px;
  font-size: 20px;
}
footer {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

#todo, #regis, #bug{
  width: 800px;
  height: 500px;
}

#CS, #web, #python, #data, #java{
  width: 130px;
  height:130px;

}

#contactMe{
  width: 30%;
  float: left;
  margin-right: 20px;
  text-align: right;
}
#contactbtn{
  border-radius: 50px;
  cursor: pointer;
  color: whitesmoke;
  background-color: black;
}